<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613819608714-2olsis4gtmf8vav9tf9l4e7rn3r1fl5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613819608714-2olsis4gtmf8vav9tf9l4e7rn3r1fl5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613819608714-a57bbude9g7bq9hpq865qd8b0u1gi74d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfnQ81RmWqN0g7O4X9kpMG6fciD4Bh-tY</string>
	<key>GCM_SENDER_ID</key>
	<string>613819608714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giedriusslikas.PizzaRatings-iOS</string>
	<key>PROJECT_ID</key>
	<string>pizza-ratings-5cef0</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-ratings-5cef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613819608714:ios:8231ccc1a7a7ee47558773</string>
</dict>
</plist>